# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Flask
instance/
.webassets-cache

# Biometric & AI
engine/ml/models/*.joblib
engine/ml/models/*.pkl
scratch/

# Logs
*.log
engine/ml/logs/*.log
logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db